<?xml version="1.0" encoding="UTF-8"?>
<!-- https://mybatis.org/mybatis-3/ko/configuration.html#mappers -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnaMapper">

	<select id="boardList" resultType="QnaVO">
		select * from
		(select rownum R, Q.* from
			(select * from qna order by ref desc, step asc) Q
		)
		where R between 1 and 20
	
	</select>

	<select id="boardSelect" parameterType="QnaVO" resultType="QnaVO">
		select * from qna where num = #{num}
	</select>
	
	<update id="boardUpdate" parameterType="QnaVO">
		update qna 
		set title=#{title}, contents=#{contents} 
		where num = #{num}	
	</update>
	
	<delete id="boardDelete" parameterType="QnaVO">
		delete from qna where num = #{num}	
	</delete>
	
	<insert id="boardWrite" parameterType="QnaVO">
		<!-- DB 컬럼 순서 주의 -->
		<!-- num,writer,title,contents,reg_date,hit,ref,step,depth -->
		insert into qna values
		(qna_seq.nextval, #{writer}, #{title}, #{contents}, sysdate, 0, 0, 0, 0 )	
	</insert>
	
	
</mapper>